/*body{*/
/*    color:mediumpurple;*/
/*    background-color: black;*/
/*}*/
.chatProfile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: purple 3px solid;
    /*color: ghostwhite;*/
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: ;*/
}

.chatContainer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 5px;
}
.chatBox{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contentBox{
    display: flex;
}
.receiverForm{
    display: flex;
    flex-direction: column;
}